<!DOCTYPE html>
<html>

<%- include('../partials/head.ejs') %>

    <link rel="stylesheet" href="/css/productsList.css">

    </head>

    <body>

    <%- include('../partials/header.ejs') %>
<!-- <!- ---------------------- Main ----------------------------------> 
    <main>
 
     
        <div class="div-datos-producto">
            <p>Filtrar por categorías</p>
            <form name ="categoria" action="/products/productsList/filtro/" method = 'post'>
                <select name="category" class="select-categorias">
                    <option value="">Todas</option>

                    <% categories.forEach (category => { %>
                        <option value="<%= category.id %>"
                            <%= locals.selectedCategory && locals.selectedCategory == category.id? 'selected':null %>        
                            
                         ><%= category.name %></option>
                    <% }) %>
                </select>

                <button class="button-filter" type="submit" >FILTRAR</button>
            </form>
        </div>
       
        <section class="products">
            <% products.forEach(product => { %>
            <article>
                
                <a href="/products/productDetail/<%= product.id %>">
                    <img src= "<%= product.img%>" alt="<%= product.name%>">
                </a>

                <p class="product-name"><%= product.name%></p>

                <% if (!product.discount || product.discount == 0) { %> 
                    <p class="price">$<%= toThousand(product.price)%></p>
                    <p class="cuotas">6 cuotas sin interés de <strong>$<%= toThousand((product.price / 6).toFixed(2))%></strong></p>
                <% } else { %>
                    <div class="price-discount">
                        <span class="orig-price">$<%= toThousand(product.price) %></span>
                        <span class="final-price">$<%= toThousand(product.price * (1 - product.discount / 100)) %></span>
                    </div>
                    <p class="cuotas">6 cuotas sin interés de <strong>$<%= toThousand(((product.price * (1 - product.discount / 100)) / 6).toFixed(2)) %></strong></p>
                    <% } %>

                    <button class="agregar-al-carrito"><a href="/products/productDetail/<%= product.id %>">Agregar al carrito</a></button>

            </article>
            <% }); %>
        </section>

        <% if(products.length==0){ %>
            <p><%= locals.word %></p>
            <div class="product-not-found">
            <p style="color:tomato"><%= notFound %></p>
            <a href="/"><p>Volver a la home</p></a>  
            </div>
        <% } %>
        
    

                <!-- <section class="products">
                    <% products.forEach(product=> { %>
                        <article>
                            <img src="<%= product.image%>" alt="<%= product.name%>">
                            <div class="product-description">
                                <p class="product-name">
                                    <%= product.name%>
                                </p>
                                <p class="price">$<%= product.price%>
                                </p>
                                <button><a href="/products/productDetail/<%= product.id %>">Agregar al
                                        carrito</a></button>
                            </div>
                        </article>
                        <% }); %>
                </section>
                -->
                    

            </main>

            <%- include('../partials/footer.ejs') %>
    </body>

</html>